body {
    margin: 24px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    word-wrap: break-word;
}

header {
    text-align: center;
}

#projects-nav {
    border: 3px dashed blue;
    border-radius: 16px;
    padding: 6px 32px;
}
