html {
    padding: 24px;
}

body {
    margin: auto;
    max-width: 1200px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

header {
    text-align: center;
}

#projects-nav {
    border: 3px dashed deepskyblue;
    border-radius: 16px;
    padding: 6px 32px;
}

a {
    word-wrap: break-word;
}

.nobreak {
    white-space: nowrap;
}


/* Dark mode stuff */
@media (prefers-color-scheme: light) {
    body {
        color: #000;
        background-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #222;
    }

    a {
        color: #00fff7;
    }
}